extends shared/layout

block content
  .row
    form.col.s12(action="/" method="get")
      .row
        .input-field.col.s6
          input(type="text" id="name" name="email" class="validate")
          label(for="name") Name
        .input-field.col.s6
          input(type="password" id="password" name="password" class="validate")
          label(for="lastName") Password
        .input-field.col.s12
          button(class="btn waves-effect waves-light" type="submit" id= "login") Login
            i(class="material-icons right") send
block script
  script.
    $("#login").click(function () {
      var user_email = $("#email").val();
      var password = $("#password").val();
      //'http://52.205.251.33:9000/auth/local?email=test@example.com&password=test'
      var url = "http://52.205.251.33:9000/auth/local%3Femail=" + email + "%26password=" + password;
      console.log(url);
      $.ajax ({
        type: "POST",
        url: url
      }).success (function (data) {
        console.log(data);
      }).error (function (error){
        console.log(error);
      });
    }); 
